#jumbotron-div{
  color:#ba0f0f;
  text-shadow: 0 0 20px #dfc949;
  background-image: url("/Users/kellimccloskey/Desktop/Epicodus/Week4/code-review/img/pizza-moon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#title-h1{
  font-family: 'Monoton', cursive;
  font-size: 70px;
}

#name-for-order {
  width: 400px
}

h4 {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  text-shadow: 0 0 1px #ba0f0f;
}

small{
  font-family: 'Press Start 2P', cursive;
}

.header-h1 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size:20px;
  color:#ba0f0f;
  text-shadow: 1px 1px 3px black;
  margin-bottom: 70px;
}

form {
  padding:20px;
  background-color:beige;
  border-radius: 6px;
}

.size-image {
  border:1px #ba0f0f dotted;
  border-radius: 6px;
  width:107px;
  height:130px;
}

.radio-disappear {
  display: none !important;
}

.radio-disappear:checked + label {
  opacity: 1;
}

.label-opaque {
  opacity: 0.5;
}

label {
  cursor: pointer;
}

/* font-family: 'Press Start 2P', cursive; */
